<div id="welcomeContainer" style="display: none;">
    <div class="bc-hero">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <h1 id="welcomeHeader"><%- lang('welcome.welcomeHeader') %></h1>
        <p id="welcomeDescription"><%- lang('welcome.welcomeDescription') %></p>
        <p id="welcomeDescCTA"><%- lang('welcome.welcomeDescCTA') %></p>
        <button id="welcomeButton"><%- lang('welcome.continueButton') %></button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>
